In [ ]:
%pip uninstall hopsworks hsfs hsml -y

%pip install hopsworks

In [1]:
import dotenv

dotenv.load_dotenv()

True

In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("alanvourch/tmdb-movies-daily-updates")

In [11]:
import os
import pandas as pd

# List files in the downloaded dataset directory
files = os.listdir(path)
print("Files in dataset directory:", files)

# Read the first file
df = pd.read_csv(os.path.join(path, files[0]))

# Print the first 5 rows
df.head()

Files in dataset directory: ['TMDB_all_movies.csv']

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.1,335.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Heikki Salomaa, Hanna Jokinen, Matti Pellonpää...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,8868.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.3,400.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"English, suomi, svenska","Teuvo Rissanen, Malla Hukkanen, Olli Varja, Ju...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.5,7646.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.9,2650.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Lili Taylor, Valeria Golino, Marisa Tomei, Mar...","Quentin Tarantino, Robert Rodriguez, Allison A...","Andrzej Sekula, Rodrigo García, Guillermo Nava...","Quentin Tarantino, Robert Rodriguez, Allison A...","Quentin Tarantino, Lawrence Bender, Alexandre ...",Combustible Edison,6.7,113064.0,/pyCk5JgtRZwRxnXwfrvyzukaKue.jpg
3,6,Judgment Night,6.5,333.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Stephen Dorff, Everlast, Will Zahrn, Emilio Es...",Stephen Hopkins,Peter Levy,"Jere Cunningham, Lewis Colick","Gene Levy, Marilyn Vance, Lloyd Segan",Alan Silvestri,6.6,19437.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.5,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.2,284.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [12]:
from utils import preprocess

df = preprocess(df)

In [13]:
df['production_countries'] = pd.Categorical(df['production_countries'])
df['original_language'] = pd.Categorical(df['original_language'])

# Changing the release_date to release_year
df['release_year'] = pd.to_datetime(df['release_date']).dt.year

df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path,timestamp,release_year
2,5,Four Rooms,5.90,2650.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,"Quentin Tarantino, Robert Rodriguez, Allison A...","Andrzej Sekula, Rodrigo García, Guillermo Nava...","Quentin Tarantino, Robert Rodriguez, Allison A...","Quentin Tarantino, Lawrence Bender, Alexandre ...",Combustible Edison,6.7,113064.0,/pyCk5JgtRZwRxnXwfrvyzukaKue.jpg,2025-01-05,1995
3,6,Judgment Night,6.50,333.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,Stephen Hopkins,Peter Levy,"Jere Cunningham, Lewis Colick","Gene Levy, Marilyn Vance, Lloyd Segan",Alan Silvestri,6.6,19437.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,2025-01-05,1993
6,11,Star Wars,8.20,20722.0,Released,1977-05-25,775398007.0,121.0,11000000.0,tt0076759,...,George Lucas,Gilbert Taylor,George Lucas,"Rick McCallum, Gary Kurtz, George Lucas",John Williams,8.6,1487463.0,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,2025-01-05,1977
7,12,Finding Nemo,7.80,19330.0,Released,2003-05-30,940335536.0,100.0,94000000.0,tt0266543,...,Andrew Stanton,"Sharon Calahan, Jeremy Lasky","David Reynolds, Jim Capobianco, Ronnie del Car...","John Lasseter, Graham Walters",Thomas Newman,8.2,1143086.0,/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg,2025-01-05,2003
8,13,Forrest Gump,8.47,27630.0,Released,1994-06-23,677387716.0,142.0,55000000.0,tt0109830,...,Robert Zemeckis,Don Burgess,"Winston Groom, Eric Roth","Steve Tisch, Steve Starkey, Wendy Finerman",Alan Silvestri,8.8,2336706.0,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,2025-01-05,1994

In [14]:
print(df.columns)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes', 'poster_path',
       'timestamp', 'release_year'],
      dtype='object')

In [15]:
import hopsworks

project = hopsworks.login(project="dbillLab1")
fs = project.get_feature_store()

tmdb_movie_fg = fs.get_or_create_feature_group(
    name='tmdb_movies',
    description='Movie information including, director, actors, genres, runtime, averagerating',
    version=1,
    primary_key=['id'],
    online_enabled=True,
)
tmdb_movie_fg.insert(df)

2025-01-05 20:40:56,746 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-01-05 20:40:56,778 INFO: Initializing external client
2025-01-05 20:40:56,779 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-01-05 20:40:58,028 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1169559
Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1169559/fs/1160262/fg/1393586

Uploading Dataframe: 100.00% |██████████| Rows 25708/25708 | Elapsed Time: 00:52 | Remaining Time: 00:00

Launching job: tmdb_movies_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1169559/jobs/named/tmdb_movies_1_offline_fg_materialization/executions

(Job('tmdb_movies_1_offline_fg_materialization', 'SPARK'), None)

In [16]:
from utils import split_genres

tmdb_movie_genres_fg = fs.get_or_create_feature_group(
    name='tmdb_movie_genres',
    description='Movie genres',
    version=1,
    primary_key=['id'],
    online_enabled=True,
)

df_genres = split_genres(df)
tmdb_movie_genres_fg.insert(df_genres)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1169559/fs/1160262/fg/1393587

Uploading Dataframe: 100.00% |██████████| Rows 25708/25708 | Elapsed Time: 00:07 | Remaining Time: 00:00

Launching job: tmdb_movie_genres_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1169559/jobs/named/tmdb_movie_genres_1_offline_fg_materialization/executions

(Job('tmdb_movie_genres_1_offline_fg_materialization', 'SPARK'), None)

In [17]:
df_genres.head()

,id,timestamp,action,adventure,animation,comedy,crime,documentary,drama,family,...,history,horror,music,mystery,romance,science_fiction,tv_movie,thriller,war,western
2,5,2025-01-05,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,2025-01-05,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,11,2025-01-05,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,12,2025-01-05,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,13,2025-01-05,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [18]:
df_genres = split_genres(df)