In [3]:
import dotenv

dotenv.load_dotenv()

True

In [4]:
import hopsworks

project = hopsworks.login(project="dbillLab1")
fs = project.get_feature_store()

/Users/martinbravodiaz/miniconda3/envs/imdb/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

2025-01-04 09:52:03,665 INFO: Initializing external client
2025-01-04 09:52:03,666 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-01-04 09:52:05,133 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1169559

In [5]:
imdb_movie_fg = fs.get_feature_group(
    "tmdb_movies", 
    version=1
)
df = imdb_movie_fg.read()

df.head()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (50.50s)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path,timestamp
0,106546,Moscow Heat,2.0,12.0,Released,2004-11-24,840201.0,89.0,0.0,tt0369738,...,"Joanna Pacula, Evgeniy Berezovskiy, Jeff Celen...",Jeff Celentano,John B. Aronson,"Alexander Nevsky, Alexander Izotov, Robert Madrid","Alexander Nevsky, Alexander Izotov",Richard John Baker,2.5,2438.0,/7WwaL21mcewnQTVAz3zOStDB4M1.jpg,2025-01-04 00:00:00+00:00
1,5526,A Killing Affair,5.2,4.0,Released,1977-09-21,0.0,100.0,0.0,tt0076266,...,"Todd Bridges, Sari Price, Dean Stockwell, Robe...",Richard C. Sarafian,Al Francis,E. Arthur Kean,"James H. Brown, David Gerber",Richard Shores,6.1,125.0,/hbb3Y27us6gx9nBpEOcMUcvh7qB.jpg,2025-01-04 00:00:00+00:00
2,194432,Top Secret,6.0,1.0,Released,1952-11-10,0.0,93.0,0.0,tt0045244,...,"Reed De Rouen, Henry Hewitt, Michael Medwin, W...",Mario Zampi,Stanley Pavey,"Michael Pertwee, Jack Davies",Mario Zampi,Stanley Black,6.3,201.0,/ss0h7JDyYMPYR2cP5fSlmpqQGD7.jpg,2025-01-04 00:00:00+00:00
3,319073,How to Change the World,7.1,33.0,Released,2014-12-12,0.0,110.0,0.0,tt4144504,...,"Robert Hunter, Bobbi Hunter, David Garrick, Pa...",Jerry Rothwell,Ben Lichty,Jerry Rothwell,"Bous De Jong, Stewart Le Marechal, Lizzie Fran...",Lesley Barber,7.5,1313.0,/994hnuZUbkAkpCZMaqasMw2cWvj.jpg,2025-01-04 00:00:00+00:00
4,68849,The Man Who Could Work Miracles,5.6,26.0,Released,1936-07-23,0.0,82.0,0.0,tt0029201,...,"George Zucco, Ernest Thesiger, Torin Thatcher,...",Lothar Mendes,Harold Rosson,"H.G. Wells, Lajos Biró",Alexander Korda,Mischa Spoliansky,6.9,1645.0,/yAfQRixZWBzQhJ7vwgCIyQhxNW9.jpg,2025-01-04 00:00:00+00:00

In [6]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("alanvourch/tmdb-movies-daily-updates")

In [7]:
import os
import pandas as pd

# List files in the downloaded dataset directory
files = os.listdir(path)
print("Files in dataset directory:", files)

# Read the first file
updated_df = pd.read_csv(os.path.join(path, files[0]))

# Print the first 5 rows
updated_df.head()

Files in dataset directory: ['TMDB_all_movies.csv']

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.1,335.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Heikki Salomaa, Hanna Jokinen, Matti Pellonpää...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,8862.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.3,400.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"English, suomi, svenska","Teuvo Rissanen, Malla Hukkanen, Olli Varja, Ju...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.5,7638.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.9,2649.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Sammi Davis, Ione Skye, Lili Taylor, Marisa To...","Quentin Tarantino, Robert Rodriguez, Alexandre...","Guillermo Navarro, Andrzej Sekula, Rodrigo Gar...","Quentin Tarantino, Robert Rodriguez, Alexandre...","Quentin Tarantino, Alexandre Rockwell, Lawrenc...",Combustible Edison,6.7,113041.0,/pyCk5JgtRZwRxnXwfrvyzukaKue.jpg
3,6,Judgment Night,6.5,333.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Stephen Dorff, Everlast, Will Zahrn, Emilio Es...",Stephen Hopkins,Peter Levy,"Jere Cunningham, Lewis Colick","Gene Levy, Marilyn Vance, Lloyd Segan",Alan Silvestri,6.6,19427.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.5,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.2,284.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [8]:
from utils import preprocess

updated_df = preprocess(updated_df)

In [9]:
print(df.info())
print(updated_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25690 entries, 0 to 25689
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       25690 non-null  int64
 1   title                    25690 non-null  object
 2   vote_average             25690 non-null  float64
 3   vote_count               25690 non-null  float64
 4   status                   25690 non-null  object
 5   release_date             25690 non-null  object
 6   revenue                  25690 non-null  float64
 7   runtime                  25690 non-null  float64
 8   budget                   25690 non-null  float64
 9   imdb_id                  25690 non-null  object
 10  original_language        25690 non-null  object
 11  original_title           25690 non-null  object
 12  overview                 25690 non-null  object
 13  popularity               25690 non-null  float64
 14  tagline                  25690 non-null  object
 15  genres                   25690 non-null  object
 16  production_companies     25690 non-null  object
 17  production_countries     25690 non-null  object
 18  spoken_languages         25690 non-null  object
 19  cast                     25690 non-null  object
 20  director                 25690 non-null  object
 21  director_of_photography  25690 non-null  object
 22  writers                  25690 non-null  object
 23  producers                25690 non-null  object
 24  music_composer           25690 non-null  object
 25  imdb_rating              25690 non-null  float64
 26  imdb_votes               25690 non-null  float64
 27  poster_path              25690 non-null  object
 28  timestamp                25690 non-null  datetime64[us, Etc/UTC]
dtypes: datetime64[us, Etc/UTC](1), float64(8), int64(1), object(19)
memory usage: 5.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 25690 entries, 2 to 1002319
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       25690 non-null  int64
 1   title                    25690 non-null  object
 2   vote_average             25690 non-null  float64
 3   vote_count               25690 non-null  float64
 4   status                   25690 non-null  object
 5   release_date             25690 non-null  object
 6   revenue                  25690 non-null  float64
 7   runtime                  25690 non-null  float64
 8   budget                   25690 non-null  float64
 9   imdb_id                  25690 non-null  object
 10  original_language        25690 non-null  object
 11  original_title           25690 non-null  object
 12  overview                 25690 non-null  object
 13  popularity               25690 non-null  float64
 14  tagline                  25690 non-null  object
 15  genres                   25690 non-null  object
 16  production_companies     25690 non-null  object
 17  production_countries     25690 non-null  object
 18  spoken_languages         25690 non-null  object
 19  cast                     25690 non-null  object
 20  director                 25690 non-null  object
 21  director_of_photography  25690 non-null  object
 22  writers                  25690 non-null  object
 23  producers                25690 non-null  object
 24  music_composer           25690 non-null  object
 25  imdb_rating              25690 non-null  float64
 26  imdb_votes               25690 non-null  float64
 27  poster_path              25690 non-null  object
 28  timestamp                25690 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(1), object(19)
memory usage: 5.9+ MB
None

In [10]:
import pandas as pd

def compare_2_rows(row1, row2):
    # Compare all columns except 'timestamp'
    for col in row1.index:
        if col != 'timestamp':
            if row1[col] != row2[col]:
                return False
    return True

def update_df(df, updated_df):
    # Ensure timestamps are in proper datetime format
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    updated_df['timestamp'] = pd.to_datetime(updated_df['timestamp'])

    # Iterate through updated_df
    for _, updated_row in updated_df.iterrows():
        id = updated_row['id']
        if id in df['id'].values:
            # Locate the index of the matching row in the original dataframe
            idx = df.index[df['id'] == id].tolist()[0]
            original_row = df.loc[idx]
            if not compare_2_rows(original_row, updated_row):
                # Update the values for the row explicitly
                df.loc[idx, :] = updated_row.values
        else:
            # Add new row as a DataFrame and concatenate
            new_row = pd.DataFrame([updated_row])
            df = pd.concat([df, new_row], ignore_index=True)

    return df

df = update_df(df, updated_df)

In [12]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path,timestamp
0,106546,Moscow Heat,2.0,12.0,Released,2004-11-24,840201.0,89.0,0.0,tt0369738,...,"Joanna Pacula, Evgeniy Berezovskiy, Jeff Celen...",Jeff Celentano,John B. Aronson,"Alexander Nevsky, Alexander Izotov, Robert Madrid","Alexander Nevsky, Alexander Izotov",Richard John Baker,2.5,2438.0,/7WwaL21mcewnQTVAz3zOStDB4M1.jpg,2025-01-04 00:00:00+00:00
1,5526,A Killing Affair,5.2,4.0,Released,1977-09-21,0.0,100.0,0.0,tt0076266,...,"Todd Bridges, Sari Price, Dean Stockwell, Robe...",Richard C. Sarafian,Al Francis,E. Arthur Kean,"James H. Brown, David Gerber",Richard Shores,6.1,125.0,/hbb3Y27us6gx9nBpEOcMUcvh7qB.jpg,2025-01-04 00:00:00+00:00
2,194432,Top Secret,6.0,1.0,Released,1952-11-10,0.0,93.0,0.0,tt0045244,...,"Reed De Rouen, Henry Hewitt, Michael Medwin, W...",Mario Zampi,Stanley Pavey,"Michael Pertwee, Jack Davies",Mario Zampi,Stanley Black,6.3,201.0,/ss0h7JDyYMPYR2cP5fSlmpqQGD7.jpg,2025-01-04 00:00:00+00:00
3,319073,How to Change the World,7.1,33.0,Released,2014-12-12,0.0,110.0,0.0,tt4144504,...,"Robert Hunter, Bobbi Hunter, David Garrick, Pa...",Jerry Rothwell,Ben Lichty,Jerry Rothwell,"Bous De Jong, Stewart Le Marechal, Lizzie Fran...",Lesley Barber,7.5,1313.0,/994hnuZUbkAkpCZMaqasMw2cWvj.jpg,2025-01-04 00:00:00+00:00
4,68849,The Man Who Could Work Miracles,5.6,26.0,Released,1936-07-23,0.0,82.0,0.0,tt0029201,...,"George Zucco, Ernest Thesiger, Torin Thatcher,...",Lothar Mendes,Harold Rosson,"H.G. Wells, Lajos Biró",Alexander Korda,Mischa Spoliansky,6.9,1645.0,/yAfQRixZWBzQhJ7vwgCIyQhxNW9.jpg,2025-01-04 00:00:00+00:00

In [11]:
# Update to hopsworks feature store
imdb_movie_fg.insert(df)

Uploading Dataframe: 100.00% |██████████| Rows 25690/25690 | Elapsed Time: 00:05 | Remaining Time: 00:00

Launching job: tmdb_movies_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1169559/jobs/named/tmdb_movies_1_offline_fg_materialization/executions

(Job('tmdb_movies_1_offline_fg_materialization', 'SPARK'), None)